@import "../../sass/global";

.loader-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  height: 10rem;
  width: 15rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  &__child {
    width: 2rem;
    height: 2rem;
    border-radius: $border-circle;
    background-color: $color-primary;
    animation: loader_animation 0.5s ease-out infinite alternate;

    &:nth-child(2) {
      background-color: lighten($color-primary, 10%);
      animation-delay: 0.1s;
    }

    &:nth-child(3) {
      background-color: lighten($color-primary, 20%);
      animation-delay: 0.2s;
    }

    &:nth-child(4) {
      background-color: lighten($color-primary, 30%);
      animation-delay: 0.3s;
    }

    &:nth-child(5) {
      background-color: lighten($color-primary, 40%);
      animation-delay: 0.4s;
    }
  }
}
