.primary-heading {
  font-size: 4rem;
  font-weight: 700;
}

.designed-heading {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.designed-heading::before,
.designed-heading::after {
  content: "";
  flex: 0 0 25%;
  border-bottom: 1px solid $color-primary;
  margin: auto;

  @include respond(phone) {
    flex: 0 0 15%;
  }
}
