.primary-heading {
  font-size: 4rem;
  font-weight: 700;

  @include respond(phone) {
    font-size: 1.8rem;
  }
}

.secondary-heading{
  font-size: 3rem;
  text-align: center;
}

.tertiary-heading{
  font-size: 1.7rem;
}

.designed-heading {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.designed-heading::before,
.designed-heading::after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid $color-primary;
  margin: auto;
}
