.pad-1 {
  padding: 1rem;
}

.b-margin-sm {
  margin-bottom: 2rem;
}

.b-margin-md {
  margin-bottom: 4rem;
}

.b-margin-lg {
  margin-bottom: 6rem;
}

.t-margin-sm {
  margin-top: 2rem;
}

.t-margin-md {
  margin-top: 4rem;
}

.t-margin-lg {
  margin-top: 6rem;
}
