// Border-Radius
$border-radius-sm: 5px;
$border-radius-md: 10px;
$border-radius-lg: 15px;
$border-radius-hg: 2rem;
$border-circle: 50%;

// Basic
$color-black: #000;
$color-white: #fff;

// Theme
$color-primary-light: #fee2e0;
$color-primary: #c32530;
$color-primary-dark: #7c2e41;

$bg-color: #e9ecef;

$red-100: #fee2e2;
$red-200: #fecaca;
$red-300: #fca5a5;
$red-400: #f87171;
$red-500: #ef4444;
$red-600: #dc2626;
$red-700: #b91c1c;
$red-800: #991b1b;
$red-900: #7f1d1d;

// Text Colors
$grey-light: #6c757d;
$grey: #495057;
$grey-dark: #343a40;

// Spacing
$spacing-01: 0.125rem;
$spacing-02: 0.25rem;
$spacing-03: 0.5rem;
$spacing-04: 0.75rem;
$spacing-05: 1rem;
$spacing-06: 1.5rem;
$spacing-07: 2rem;
$spacing-08: 2.5rem;
$spacing-09: 3rem;
$spacing-10: 4rem;
$spacing-11: 5rem;
$spacing-12: 6rem;
$spacing-13: 10rem;

$default-font-size: 1.6rem;
