@import "../../sass/global";

.productlist-section {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  column-gap: 2rem;
  grid-template-areas:
    "filter search search search"
    "filter items items items"
    "filter items items items";

  @include respond(tab-port) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    grid-template-areas:
      "filter search search"
      "filter items items"
      "filter items items";
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
    gap: 2rem;
    grid-template-areas:
      "filter"
      "search"
      "items";
  }
}

.productlist-search {
  grid-area: search;

  p {
    font-size: 1.4rem;
    align-self: flex-start;
    @include respond(tab-port) {
      align-self: stretch;
    }
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 0;

    @include respond(tab-port) {
      flex-direction: column;
      gap: 2rem;
      text-align: center;
    }
  }
}

.productlist-filter {
  grid-area: filter;
}

.productlist-items {
  grid-area: items;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  row-gap: 1.5rem;

  &__image {
    height: 30rem;
  }
}

.paginate {
  &__buttons {
    margin-right: 0.5rem;
    width: 50px;

    &.active-page {
      background-color: #303030;
    }
  }
}
