@import "../../sass/global";

.error-section {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.error-img {
  height: 40vh;
}

.error-text {
  color: $color-primary;
  font-size: 3rem;
  font-weight: 500;
}

.error-btn {
  margin-top: 3rem;
}
