@import "../../sass/global";

.home-section {
  padding: 5rem 2rem;
  text-align: center;
}

.categories-section {
  width: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  justify-items: center;
  row-gap: 4rem;

  @include respond(phone) {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    width: 100%;
    row-gap: 1.5rem;
  }
}

.brands-section {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}
