@import "../../sass/global";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 26, 59, 0.6);
  backdrop-filter: blur(2px);
  z-index: 1000;
  cursor: pointer;
}

.modal-content {
  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  background: $color-white;
  z-index: 1000;
  border-radius: $border-radius-lg;
  cursor: auto;

  @include respond(tab-port) {
    width: 75%;
  }

  @include respond(phone) {
    width: 90%;
  }

  &__close-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 2.5rem;
    width: 2.5rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }
  }
}
