@import "../../sass/global";

.checkout-section {
  padding: 5rem 8rem;

  @include respond(phone) {
    padding: 5rem 1rem;
  }

  &__address {
    display: flex;
    gap: 1rem;
    align-items: center;
    
    label{
      width: 85%;
    }
  }

  &__address-section{
    height: 50vh;
    overflow-y: auto;
  }

  &__container {
    gap: 4rem;
    & > * {
      flex: 1;
    }

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      & > * {
        width: 80%;
      }
    }
  }

  input[type="radio"] {
    height: 1.8rem;
    width: 1.8rem;
    accent-color: $color-primary;
  }

  ul {
    list-style-type: none;
  }
}

.coupon-section {
  &__apply-coupon {
    li {
      margin: 0.5rem;
      font-size: 1.4rem;
      color: $color-primary;
      font-weight: 600;

      label {
        background-color: rgba($color-primary, 0.1);
        padding: 0.8rem;
        width: 150px;
        border-radius: 5px;
        cursor: pointer;
      }

      input:disabled + label {
        background-color: rgba(gray, 0.1);
        color: grey;
      }
    }
  }

  &__coupon-details {
    li {
      margin: 0.5rem;
      font-size: 1.4rem;

      svg {
        color: green;
      }
    }
  }
}

.order-details {
  font-size: 1.4rem;

  &__heading {
    font-size: 1.8rem;
    font-weight: 600;
    justify-content: center;
  }

  li {
    display: flex;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    span {
      margin-left: auto;
    }
  }
}
