.address-section {
  &__heading {
    font-size: 2rem;
  }

  &__info{
    color: gray;
    font-size: 1.8rem;
  }

  &__data{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
}
