.badge {
  position: relative;

  &__count {
    background-color: $color-primary;
    color: white;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: 1.5rem;
  }
}
