@import "../../sass/global";

.auth-section {
  display: flex;

  @include respond(phone) {
    flex-direction: column;
  }

  &__image {
    flex: 50%;

    @include respond(phone) {
      flex: 0 0 20rem;
      width: 20rem;
      margin: 0 auto;
    }
  }
}

.auth-from {
  flex: 50%;
  border-bottom-right-radius: $border-radius-md;
  border-top-right-radius: $border-radius-md;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__cred-btn {
    margin:1rem;
    width: 90%;
    font-size: 1.6rem;
    background: transparent;
    border: none;
    transition: 0.4s all;
    display: inline-block;
    cursor: pointer;
    font-family: inherit;

    &:hover{
      transform: scale(1.05);
      color: $color-primary;
    }
  }

  &__btn {
    width: 90%;
    margin: 1rem;
  }

  &__errorStatus {
    font-size: 1.2rem;
    color: red;
    margin-top: 1rem;
  }
}
